/*! rubinmuseum.org - v0.1.0 - 2017-05-03 */
.slick-list,.slick-slider,.slick-track{
    position:relative;
    display:block
}
.slick-dots li button:before,.slick-next:before,.slick-prev:before{
    font-family:slick;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.fancybox-inner,.slick-list{
    overflow:hidden
}
.fancybox-nav,.slick-slider{
    -webkit-tap-highlight-color:transparent
}
.slick-loading .slick-slide,.slick-loading .slick-track{
    visibility:hidden
}
.slick-slider{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -ms-touch-action:none
}
.slick-list{
    margin:0;
    padding:0
}
.slick-list:focus{
    outline:0
}

.slick-list.dragging{
    cursor:pointer;
    cursor:hand
}
.slick-slide,.slick-slide img,.slick-slider .slick-list,.slick-track{
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.slick-track{
    left:0;
    top:0;
    zoom:1
}
.slick-track:after,.slick-track:before{
    content:"";
    display:table
}
.slick-track:after{
    clear:both
}
.slick-slide{
    float:left;
    height:100%;
    min-height:1px;
    display:none
}
.slick-slide img{
    display:block
}
.slick-slide.slick-loading img{
    display:none
}
.slick-slide.dragging img{
    pointer-events:none
}
.slick-initialized .slick-slide{
    display:block
}
.slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}
.slick-next,.slick-prev{
    position:absolute;
    display:block;
    height:20px;
    width:20px;
    line-height:0;
    font-size:0;
    cursor:pointer;
    background:0 0;
    color:transparent;
    top:50%;
    margin-top:-10px;
    padding:0;
    border:none;
    outline:0
}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{
    outline:0;
    background:0 0;
    color:transparent
}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{
    opacity:1
}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{
    opacity:.25
}
.slick-next:before,.slick-prev:before{
    font-size:20px;
    line-height:1;
    color:#fff;
    opacity:.75
}
.slick-prev{
    left:-25px
}
.slick-prev:before{
    content:"\2190"
}
.slick-next{
    right:-25px
}
.slick-next:before{
    content:"\2192"
}
.slick-slider{
    margin-bottom:30px
}
.slick-dots{
    position:absolute;
    bottom:-45px;
    list-style:none;
    display:block;
    text-align:center;
    padding:0;
    width:100%
}
.slick-dots li{
    position:relative;
    display:inline-block;
    height:20px;
    width:20px;
    margin:0 5px;
    padding:0;
    cursor:pointer
}
.slick-dots li button{
    border:0;
    background:0 0;
    display:block;
    height:20px;
    width:20px;
    outline:0;
    line-height:0;
    font-size:0;
    color:transparent;
    padding:5px;
    cursor:pointer
}
.slick-dots li button:focus,.slick-dots li button:hover{
    outline:0
}
.slick-dots li button:focus:before,.slick-dots li button:hover:before{
    opacity:1
}
.slick-dots li button:before{
    position:absolute;
    top:0;
    left:0;
    content:"\2022";
    width:20px;
    height:20px;
    font-size:6px;
    line-height:20px;
    text-align:center;
    color:#000;
    opacity:.25
}
.slick-dots li.slick-active button:before{
    color:#000;
    opacity:.75
}
[dir=rtl] .slick-next{
    right:auto;
    left:-25px
}
[dir=rtl] .slick-next:before{
    content:"\2190"
}
[dir=rtl] .slick-prev{
    right:-25px;
    left:auto
}
[dir=rtl] .slick-prev:before{
    content:"\2192"
}
[dir=rtl] .slick-slide{
    float:right
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{
    padding:0;
    margin:0;
    border:0;
    outline:0;
    vertical-align:top
}
.fancybox-wrap{
    position:absolute;
    top:0;
    left:0;
    z-index:8020
}
.fancybox-inner,.fancybox-outer,.fancybox-skin{
    position:relative
}
.fancybox-skin{
    background:#f9f9f9;
    color:#444;
    text-shadow:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.fancybox-opened{
    z-index:8030
}
.fancybox-opened .fancybox-skin{
    -webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);
    -moz-box-shadow:0 10px 25px rgba(0,0,0,.5);
    box-shadow:0 10px 25px rgba(0,0,0,.5)
}
.fancybox-type-iframe .fancybox-inner{
    -webkit-overflow-scrolling:touch
}
.fancybox-error{
    color:#444;
    font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
    padding:15px;
    white-space:nowrap
}
.fancybox-iframe,.fancybox-image{
    display:block;
    width:100%;
    height:100%
}
.fancybox-image{
    max-width:100%;
    max-height:100%
}

#fancybox-loading{
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-22px;
    margin-left:-22px;
    background-position:0 -108px;
    opacity:.8;
    cursor:pointer;
    z-index:8060
}
.fancybox-close,.fancybox-nav,.fancybox-nav span{
    z-index:8040;
    position:absolute;
    cursor:pointer
}
#fancybox-loading div{
    width:44px;
    height:44px;
}
.fancybox-close{
    top:-18px;
    right:-18px;
    width:36px;
    height:36px
}
.fancybox-nav{
    top:0;
    width:40%;
    height:100%;
    text-decoration:none;
}
.fancybox-prev{
    left:0
}
.fancybox-next{
    right:0
}
.fancybox-nav span{
    top:50%;
    width:36px;
    height:34px;
    margin-top:-18px;
    visibility:hidden
}
.fancybox-prev span{
    left:10px;
    background-position:0 -36px
}
.fancybox-next span{
    right:10px;
    background-position:0 -72px
}
.fancybox-nav:hover span{
    visibility:visible
}
.fancybox-tmp{
    position:absolute;
    top:-99999px;
    left:-99999px;
    max-width:99999px;
    max-height:99999px;
    overflow:visible!important
}
.fancybox-lock{
    overflow:visible!important;
    width:auto
}
.fancybox-lock body{
    overflow:hidden!important
}
.fancybox-lock-test{
    overflow-y:hidden!important
}
.fancybox-overlay{
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    display:none;
    z-index:8010;
}
.fancybox-overlay-fixed{
    position:fixed;
    bottom:0;
    right:0
}
.fancybox-lock .fancybox-overlay{
    overflow:auto;
    overflow-y:scroll
}
.fancybox-title{
    visibility:hidden;
    font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position:relative;
    text-shadow:none;
    z-index:8050
}
div.button span,div.selector select,input.uniform-input,select.uniform-multiselect,textarea.uniform{
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size:12px
}
.fancybox-opened .fancybox-title{
    visibility:visible
}
.fancybox-title-float-wrap{
    position:absolute;
    bottom:0;
    right:50%;
    margin-bottom:-35px;
    z-index:8050;
    text-align:center
}
.fancybox-title-float-wrap .child{
    display:inline-block;
    margin-right:-100%;
    padding:2px 20px;
    background:0 0;
    background:rgba(0,0,0,.8);
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    text-shadow:0 1px 2px #222;
    color:#FFF;
    font-weight:700;
    line-height:24px;
    white-space:nowrap
}
div.selector,div.selector span{
    overflow:hidden;
    line-height:40px
}
.fancybox-title-outside-wrap{
    position:relative;
    margin-top:10px;
    color:#fff
}
.fancybox-title-inside-wrap{
    padding-top:10px
}
.fancybox-title-over-wrap{
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    padding:10px;
    background:#000;
    background:rgba(0,0,0,.8)
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
    #fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{
        background-size:44px 152px
    }
    #fancybox-loading div{
        background-size:24px 24px
    }
}
div.button,div.checker,div.radio,div.selector,div.uploader{
    display:-moz-inline-box;
    display:inline-block;
    zoom:1;
    vertical-align:middle
}
div.button:focus,div.checker:focus,div.radio:focus,div.selector:focus,div.uploader:focus{
    outline:0
}
div.button,div.button *,div.checker,div.checker *,div.radio,div.radio *,div.selector,div.selector *,div.uploader,div.uploader *{
    margin:0;
    padding:0
}
div.checker input,input[type=search],input[type=search]:active{
    -moz-appearance:none;
    -webkit-appearance:none
}
div.selector{
    background-position:0 -200px;
    height:40px;
    padding:0;
    position:relative;
    font-size:12px
}
div.selector span{
    text-overflow:ellipsis;
    white-space:nowrap;
    background-position:right 0;
    height:40px;
    cursor:pointer;
    width:100%;
    display:block;
    text-shadow:0 1px 0 #fff
}
div.selector.fixedWidth{
    width:180px
}
div.selector.fixedWidth span{
    width:150px
}
div.selector select{
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    border:none;
    background:0 0;
    position:absolute;
    height:40px;
    top:0;
    left:0;
    width:100%
}
div.checker input,div.radio input{
    opacity:0;
    filter:alpha(opacity=0);
    border:none;
    zoom:1
}
div.checker,div.radio,div.uploader{
    position:relative
}
div.selector.active{
    background-position:0 -240px
}
div.selector.active span{
    background-position:right -40px
}
div.selector.focus,div.selector.hover{
    background-position:0 -280px
}
div.selector.focus span,div.selector.hover span{
    background-position:right -80px
}
div.selector.focus.active,div.selector.hover.active{
    background-position:0 -320px
}
div.selector.focus.active span,div.selector.hover.active span{
    background-position:right -120px
}
div.selector.disabled,div.selector.disabled.active{
    background-position:0 -360px
}
div.selector.disabled span,div.selector.disabled.active span{
    background-position:right -160px
}
div.checker,div.checker input,div.checker span{
    width:23px;
    height:19px
}
div.checker span{
    display:-moz-inline-box;
    display:inline-block;
    zoom:1;
    text-align:center
}
div.checker input{
    -moz-opacity:0;
    background:0 0;
    display:-moz-inline-box;
    display:inline-block
}
div.checker.disabled,div.checker.disabled.active{
    background-position:-184px -400px
}
div.checker.disabled span.checked,div.checker.disabled.active span.checked{
    background-position:-207px -400px
}
div.radio,div.radio input,div.radio span{
    width:18px;
    height:18px
}
div.uploader,div.uploader span.action{
    height:28px;
    cursor:pointer;
    overflow:hidden
}
div.radio span{
    display:-moz-inline-box;
    display:inline-block;
    zoom:1;
    text-align:center
}
div.radio input{
    -moz-opacity:0;
    background:0 0;
    display:-moz-inline-box;
    display:inline-block;
    text-align:center
}
div.radio.disabled span,div.radio.disabled.active span{
    background-position:-144px -419px
}
div.radio.disabled span.checked,div.radio.disabled.active span.checked{
    background-position:-162px -419px
}
div.uploader{
    background-position:0 -437px;
    width:190px
}
div.uploader span.action{
    background-position:right -549px;
    line-height:28px;
    width:82px;
    text-align:center;
    float:left;
    display:inline
}
div.uploader span.filename{
    text-overflow:ellipsis;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    float:left;
    cursor:default;
    height:24px;
    margin:2px 0 2px 2px;
    line-height:24px;
    width:85px;
    padding:0 10px
}
div.uploader input{
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    border:none;
    background:0 0;
    position:absolute;
    top:0;
    right:0;
    float:right;
    cursor:default;
    width:100%;
    height:100%
}
div.uploader.active span.action{
    background-position:right -605px
}
div.uploader.focus,div.uploader.hover{
    background-position:0 -493px
}
div.uploader.focus span.action,div.uploader.hover span.action{
    background-position:right -577px
}
div.uploader.focus.active span.action,div.uploader.hover.active span.action{
    background-position:right -633px
}
div.uploader.disabled,div.uploader.disabled.active{
    background-position:0 -465px
}
div.uploader.disabled span.action,div.uploader.disabled.active span.action{
    background-position:right -521px
}
div.button{
    background-position:0 -781px;
    height:30px;
    cursor:pointer;
    position:relative
}
div.button a,div.button button,div.button input{
    opacity:.01;
    filter:alpha(opacity=1);
    -moz-opacity:.01;
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute
}
div.button span{
    display:-moz-inline-box;
    display:inline-block;
    zoom:1;
    line-height:22px;
    text-align:center;
    background-position:right -661px;
    height:22px;
    margin-left:13px;
    padding:8px 15px 0 2px
}
div.button.active{
    background-position:0 -811px
}
div.button.active span{
    background-position:right -691px;
    cursor:default
}
div.button.focus,div.button.hover{
    background-position:0 -841px
}
div.button.focus span,div.button.hover span{
    background-position:right -721px
}
div.button.disabled,div.button.disabled.active{
    background-position:0 -871px
}
input.uniform-input,select.uniform-multiselect,textarea.uniform{
    font-weight:400;
    color:#777;
    border-top:solid 1px #aaa;
    border-left:solid 1px #aaa;
    border-bottom:solid 1px #ccc;
    border-right:solid 1px #ccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
input.uniform-input.focus,input.uniform-input.hover,select.uniform-multiselect.focus,select.uniform-multiselect.hover,textarea.uniform.focus,textarea.uniform.hover{
    -webkit-box-shadow:0 0 4px rgba(0,0,0,.3);
    -moz-box-shadow:0 0 4px rgba(0,0,0,.3);
    box-shadow:0 0 4px rgba(0,0,0,.3);
    border-color:#999
}
div.button span{
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase
}
div.button.focus span,div.button.hover span{
    color:#555
}
div.button.disabled span,div.button.disabled.active span{
    background-position:right -751px;
    cursor:default;
    color:#bbb
}
div.selector.disabled span,div.selector.disabled.active span{
    color:#bbb
}
div.checker{
    margin-right:5px
}
div.radio{
    margin-right:3px
}
div.uploader span.action{
    text-shadow:#fff 0 1px 0;
    background-color:#fff;
    font-size:11px;
    font-weight:700
}
div.uploader span.filename{
    color:#777;
    border-right:solid 1px #bbb;
    font-size:11px
}
div.uploader.disabled span.action,div.uploader.disabled.active span.action{
    color:#aaa
}
div.uploader.disabled span.filename,div.uploader.disabled.active span.filename{
    border-color:#ddd;
    color:#aaa
}
input.uniform-input,input.uniform-input:focus{
    background-color:#fff
}
div.checker span,div.checker.active span,div.checker.focus span,div.checker.focus.active span,div.checker.hover span,div.checker.hover.active span{
    background-position:0 -260px
}
div.checker span.checked,div.checker.active span.checked,div.checker.focus span.checked,div.checker.focus.active span.checked,div.checker.hover span.checked,div.checker.hover.active span.checked{
    background-position:-76px -260px
}
div.radio span,div.radio.active span,div.radio.focus span,div.radio.focus.active span,div.radio.hover span,div.radio.hover.active span{
    background-position:0 -278px
}
div.radio span.checked,div.radio.active span.checked,div.radio.focus span.checked,div.radio.focus.active span.checked,div.radio.hover span.checked,div.radio.hover.active span.checked{
    background-position:-70px -278px
}
div.selector span{
    padding-left:10px;
    padding-right:20px;
    border:1px solid red;
    color:red;
    font-family:Swiss721BT-Roman;
    font-size:13px
}
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio]{
    margin-left:0
}
 